@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #17191c;
}
:root{
  --body_background: blue;
  --body_backtoggle: white;
  --body_color: white;
  --body_icon: white;
  --body_nav: rgb(25, 22, 217);
  --icon:black;
  --iconb:white;
}

[dark-theme="dark"]{
  --body_backtoggle: blue;
  --body_background: white;
  --body_color: white;

  --body_icon: white;
  --icon:white;
  --iconb:black;


}
.header{
  border: solid rgb(163, 163, 163);
  border-width: 0px 0px 1px 0px;
  background-color: #444546;
  background-color: #17191c;
}
.pri{
  background-color: rgb(34, 103, 222);
  content: '';
  height: 3px;
  translate: -1px;
  position: relative;
  top: 15px;
  margin-bottom: 2px;
}
.prim{
  background-color: rgb(34, 103, 222);
  content: '';
  height: 3px;
  translate: 0px;
  position: relative;
  top: 15px;
}
.prima{
  background-color: rgb(34, 103, 222);
  content: '';
  height: 3px;
  translate: 0px;
  position: relative;
  top: 10px;
}
.primar{
  background-color: rgb(34, 103, 222);
  content: '';
  height: 3px;
  translate: -1px;
  position: relative;
  top: 15px;
}
.welcome {
  animation: welcome 3.5s ease-in-out infinite ;
}
.name {
  animation: name 3.2s ease-in-out infinite;
}
.main {
  animation: main 4s ease-in-out infinite;
}

.clip{
  background-clip: content-box;
  background-image: url(image/pay.png);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;

}

@keyframes welcome {
  
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(-250px);
  }
}
@keyframes name {
  
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(-240px);
  }
}
@keyframes main {
  
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(-235px);
  }
}

.wrapper{
  display: inline-flex;
}
.static{
color: blue;
font-weight: bold;
}
.dynamic{
margin-left: -15px;
height: 20px;
overflow: hidden;
line-height: 20px;
}
ol main::after{
content: '';
position: absolute;
height: 100%;
width: 100%;
left: 0;
border-left: 2px solid black;
background-color: white;
animation: typing 9s steps(57) infinite;
}
@keyframes typing{
100%{
  left: 100%;
  margin: 0 -25px 0 10px;
}
}
ol main{
position: relative;
margin-top: -1.5px;
}
ol{
list-style: none;
font-weight: bold;
color: rgb(28, 28, 32);
/*animation: topping 6s steps(3) infinite;
position: relative;
top: 0;*/
}